{% extends 'layouts/base.html' %}  <!-- Ruta relativa a la plantilla base -->

{% block title %} Inicio AbraArte {% endblock title %}

<!-- CSS específico (opcional) -->
{% block stylesheets %}
  {{ block.super }}  <!-- Mantiene los CSS de la plantilla padre -->
  <link rel="stylesheet" href="/static/assets/css/custom.css">  <!-- Ejemplo -->
    <!--Importacion de sweetalert2-->

{% endblock stylesheets %}



{% block content %}



<div class="row mt-4">
  <div class="col-md-3"></div>
  <div class="col-md-6 bg-light p-4 rounded shadow">
    <h2 class="text-center mb-4">Editar Reserva</h2>

    <form action="{% url 'procesarEdicionReserva' reserva.id %}" enctype="multipart/form-data" id="formEditarReserva" method="post">
      {% csrf_token %}


      <div class="mb-3">
        <label for="visitante" class="form-label">Visitante</label>
        <select name="visitante" id="visitante" class="form-select" >
          <option value="">Seleccione un visitante</option>
          {% for v in visitantes %}
            <option value="{{ v.id }}"
              {% if v.id == reserva.visitante.id %}selected{% endif %}>
              {{ v.nombre }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label for="exposicion" class="form-label">Exposición</label>
        <select name="exposicion" id="exposicion" class="form-select" >
          <option value="">Seleccione una exposición</option>
          {% for e in exposiciones %}
            <option value="{{ e.id }}"
              {% if e.id == reserva.exposicion.id %}selected{% endif %}>
              {{ e.nombre }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
          <label for="fecha" class="form-label">Fecha de reserva: </label>
          <input type="date" class="form-control"  value="{{ reserva.fecha_reserva|date:'Y-m-d' }}" name="fecha" id="fecha" >
      </div>

      <div class="mb-3">
          <label  for="foto">Foto de la obra de arte: <small class="text-muted">Si no seleccionas una nueva fot, se mantendrá la foto actual.</small></label>
          <input class="form-control" type="file" name="foto" id="foto" accept="image/*">
          {% if reserva.foto %}
              <img src="{{reserva.foto.url}}" height="auto" width="100px" alt="">
          {% else %}
              No tiene foto
          {% endif%}
      </div>
      <div class="mb-3">
          <label for="documento">Certificación: <small class="text-muted">Si no seleccionas un nuevo certificado, se mantendrá el certificado actual.</small> </label>
          <input class="form-control" type="file" name="documento" id="documento" accept="application/pdf">
          {% if reserva.documento %}
              <div style="height: 100%; width: 100%;" >
                  <iframe src="{{ reserva.documento.url }}" frameborder="0"></iframe>
              </div>
          {% else %}
              No tiene documento
          {% endif%}
      </div>

      <div class="mb-3">
          <label for="observaciones" class="form-label">Observaciones de la reserva</label>
          <textarea class="form-control"  name="observaciones" id="observaciones" rows="5"> {{reserva.observaciones}}</textarea>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'indexReserva' %}" class="btn btn-outline-danger me-md-2">
          Cancelar
        </a>
        <button type="submit" class="btn btn-outline-primary">
          Actualizar Reserva
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>



<script>
    $.validator.addMethod("rango", function(valor, elemento, parametros) {
        var fecha = new Date(valor);
        var fechaInicio = new Date(parametros.min);
        var fechaFin = new Date(parametros.max);
        return fecha >= fechaInicio && fecha <= fechaFin;
    }, "La fecha debe estar dentro del rango especificado.");
    $("#formEditarReserva").validate({
        rules:{
            visitante:{
                required:true
            },
            exposicion:{
                required:true
            },
            fecha: {
                required: true,
                date: true, 
                rango: {
                    min: "2025-06-03",
                    max: "2025-12-31" 
                }
            },
            observaciones:{
                required:true 

            }
        },
        messages:{
            visitante:{
                required:"El visitante de la reserva es requerido",
            },
            exposicion:{
                required:"La exposicion de la reserva es requerido",
            },
            fecha: {
                required:"La fecha de la reserva es requerido",
                date: "La fecha ingresada no es válida.",
                rango: "La fecha debe estar entre 03/06/2025 y 12/31/2025."
            },
            observaciones:{
                required:"La observacion de la reserva es requerido",

            }
        }
    
    });
    
</script>




{% endblock content %}

<!-- JS específico (opcional) -->
{% block javascripts %}
  {{ block.super }}  <!-- Mantiene los JS de la plantilla padre -->
  <script src="/static/assets/js/custom.js"></script>  <!-- Ejemplo -->
{% endblock javascripts %}
