{% extends 'layouts/base.html' %}

{% block title %} Editar Exposición {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="/static/assets/css/custom.css">
{% endblock stylesheets %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light p-4 rounded shadow">
        <h1 class="text-center mb-4">Editar Exposición</h1>

        <form action="{% url 'procesarEdicionExposicion' exposicion.id %}" method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre de la Exposición</label>
                <input type="text" class="form-control" name="nombre" id="nombre" value="{{ exposicion.nombre }}" required>
            </div>

            <div class="mb-3">
                <label for="fecha" class="form-label">Fecha</label>
                <input type="date" class="form-control" name="fecha" id="fecha" value="{{ exposicion.fecha|date:'Y-m-d' }}" required>
            </div>

            <div class="mb-3">
                <label for="sala" class="form-label">Sala</label>
                <input type="text" class="form-control" name="sala" id="sala" value="{{ exposicion.sala }}" required>
            </div>

            <div class="mb-3">
                <label for="obra" class="form-label">Seleccionar Obra</label>
                <select class="form-select" name="obra" id="obra" required>
                    <option value="">Seleccione una obra</option>
                    {% for obra in obras %}
                        <option value="{{ obra.id }}" {% if obra in obras_seleccionadas %}selected{% endif %}>
                            {{ obra.titulo }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                <a href="{% url 'indexExposicion' %}" class="btn btn-outline-danger me-md-2">Cancelar <i class="fa fa-times"></i></a>
                <button type="submit" class="btn btn-outline-primary">Actualizar Exposición <i class="fa-solid fa-pen-to-square"></i></button>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script src="/static/assets/js/custom.js"></script>
{% endblock javascripts %}
